# Firebase Configuration
FIREBASE_PROJECT_ID=
FIREBASE_APP_ID=
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_MEASUREMENT_ID=
FIREBASE_DATABASE_ID=

VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_MEASUREMENT_ID=

# Shipping & Logistics API Credentials
SHIPROCKET_API_EMAIL=
SHIPROCKET_API_TOKEN=
NIMBUSPOST_API_KEY=
NIMBUSPOST_SECRET=
VITE_SHIPROCKET_API_EMAIL=
VITE_SHIPROCKET_API_TOKEN=
VITE_NIMBUSPOST_API_KEY=
VITE_NIMBUSPOST_SECRET=

# Payment Gateway (Razorpay)
RAZORPAY_KEY_SECRET=
VITE_RAZORPAY_KEY_ID=